  
  <h2 class="panel-heading">
    <span>Níveis de Conhecimento</span>
  </h2>

  <form name="form" ng-submit="vm.submitForm(vm.knowledgeLevel)" class="form-horizontal" novalidate>
  <div class="form-group" show-errors>
          <label for="level" class="col-sm-1 control-label">Nível </label>
          <div class="col-sm-2">
            <input id="name" name="level" type="text" class="form-control"
            ng-model="vm.knowledgeLevel.level">
          </div>
        
          <label for="description" class="col-sm-1 control-label">Descrição </label>
          <div class="col-sm-4">
            <input id="description" name="description" type="text" class="form-control"
            ng-model="vm.knowledgeLevel.description">
          </div>
          <button type="submit"  class="btn btn-success">Salvar Nível de Conhecimento</button>
        </div>
</form>



<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Nível</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="knowledgeLevel in vm.knowledgeLevels">
          <td>
            <div class="media" ui-sref="knowledgeLevel-edit({id: knowledgeLevel.id})">
              <div class="media-body">
                {{knowledgeLevel.level}}
              </div>
            </div>
          </td>
          <td>
            <div class="media" ui-sref="knowledgeLevel-edit({id: knowledgeLevel.id})">
              <div class="media-body">
                {{knowledgeLevel.description}}
              </div>
            </div>
          </td>
          <td>
            <i title="Excluir" ng-click="vm.delete(knowledgeLevel)" 
            class="glyphicon glyphicon-remove btn btn-danger btn-xs"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>