
  <h2 class="panel-heading">
    <span>Cargos</span>
  </h2>

   <form name="form" ng-submit="vm.submitForm(vm.job)" class="form-horizontal" novalidate>
    <div class="form-group" show-errors>
            <label for="name" class="col-sm-2 control-label">Nome </label>
            <div class="col-sm-6">
              <input id="name" name="name" type="text" class="form-control"
              ng-model="vm.job.name">
            </div>
            <button type="submit"  class="btn btn-success">Salvar Cargo</button>
          </div>
  </form>

<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="job in vm.jobs">
          <td>
            <div class="media" ui-sref="job-edit({id: job.id})">
              <div class="media-body">
                {{job.name}}
              </div>
            </div>
          </td>
          <td>
            <button ng-click="vm.delete(job)" class="btn btn-danger">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>