
  <h2 class="panel-heading">
    <span>Tipos de Atividade</span>
  </h2>
  
  <div class="panel-body text-left">
    <button class="btn btn-info" ui-sref="activityType-add">Adicionar Tipo de Atividade</button>

  </div>


<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="activityType in vm.activityTypes">
          <td>
            <div class="media" ui-sref="activityType-edit({id: activityType.id})">
              <div class="media-body">
                {{activityType.name}}
              </div>
            </div>
          </td>
          <td>
            <div class="media" ui-sref="activityType-edit({id: activityType.id})">
              <div class="media-body">
                {{activityType.description}}
              </div>
            </div>
          </td>
          <td>
            <button ng-click="vm.delete(activityType)" class="btn btn-danger">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>