<!DOCTYPE html>
<html>
<head>
  <title>SAP</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>	
  <%= csrf_meta_tags %>
</head>
<body ng-app="sap">
  
  <div class="row">
    
      <div ng-include="'nav/_nav.html'"></div>
      <div class="container">
    	 <div data-ui-view="" ></div>
      </div>   

    </div>
     
  </div>


 
</script>
</body>
</html>
